[submodule "Coursera_Capstone"]
	path = Coursera_Capstone
	url = https://github.com/Mido-a91/Coursera_Capstone
[submodule "Mini-Projects"]
	path = Mini-Projects
	url = https://github.com/Mido-a91/Mini-Projects
[submodule "Segmenting_and_Clustering_Toronto"]
	path = Segmenting_and_Clustering_Toronto
	url = https://github.com/Mido-a91/Segmenting_and_Clustering_Toronto
